<div ng-app="todoApp" ng-controller="TodoListController" ng-init="init(#{@todo_list.id})")>
  <div class="form" ng-submit="addTodo_item()">
    <input type="text" ng-model="todo_itemDesc">
    <input type="submit" class="btn btn-primary" value="add">
  </div> 
  <ul>
    <li ng-repeat="todo_item in todo_items">
      {{todo_item.desc}}
    </li>
  </ul>

</div>